/* Mobile styles */
@media (max-width: 1197px){
  .content{
    text-align: center;
    background: url(../lib/imgs/es0.png) no-repeat center center fixed;
    background-size: cover;
    padding-bottom: 2%;
  }

  .landing{
    margin: auto 5%;
  }

  #jumboThree{
    height: 500px;
  }

  .images{
    opacity: 0;
  }

  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }

  .arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 80px;
    font-size: 3em;
  }

  .textContent{
    margin: 50% auto;
  }

  .ba-slider img {
    height: 500px;
  }

  .landing{
    padding-top: 5%;
  }

}

/* Desktop Styles */
/* Width required for the building to be full height and to properly line up highlighted floors with content is 1198px */
@media (min-width: 1198px){

  .content{
    margin-right: 50%;
  }

  .logo{
    display: block;
    margin: 0 auto;
    margin-bottom: 3%;
  }

  .textContent{
    margin: 500px auto;
  }

  .images{
    position: fixed;
    margin-left: 50%;
    top: 0;
    right: 0;
  }

  .arrow {
    position: absolute;
    bottom: 0;
    left: 25%;
    margin-left: -20px;
    width: 40px;
    height: 80px;
    font-size: 3em;
  }


  .technical{
    width: 100vw;
    margin-bottom: 15%;
  }

  .landing{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .ba-slider img {
    width: 100%;
  }

  .teamContent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 1fr;
  }
}


body{
  font-family: Roboto;
  overflow-x: hidden;
}


h1{
  text-align: center;
  font-weight: 100;
}

h2{
  font-weight: 400;
  text-align: center;
}

h6{
  text-align: center;
}

h3{
  font-weight: 100;
  font-size: 1.5em;
}

h5{
  text-align: center;
  font-size: 2.5em;
  margin-top: 0px;
  font-weight: 400;
}

h1, h2, h3, h5, h6{
  color: #333333;
}

hr{
  width: 50%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 3px solid #285AA0;
}

.jumbotron{
  padding: 4%;
  background-color: white;
  margin: auto 5%;
  box-shadow:
  0 6px 8px 0 rgba(0,0,0,0.12),
  0 2px 4px 0 rgba(0,0,0,0.08);
}

.jumbotron p{
  text-align: center;
}

a{
  color: #333333;
}
a:hover{
  color: #285AA0;
}

#jumboOne{
  box-shadow:
  0 6px 8px 0 rgba(255,78,255,0.22),
  0 2px 4px 0 rgba(255,78,255,0.08);
}

#jumboTwo{
  box-shadow:
  0 6px 8px 0 rgba(250,122,122,0.22),
  0 2px 4px 0 rgba(250,122,122,0.08);
}

#jumboThree{
  box-shadow:
  0 6px 8px 0 rgba(122,250,180,0.22),
  0 2px 4px 0 rgba(122,250,180,0.08);
}

#jumboFour{
  box-shadow:
  0 6px 8px 0 rgba(122,126,250,0.22),
  0 2px 4px 0 rgba(122,126,250,0.08);
}

.animated{
  display:none;
  height:auto;
  width: 100%;
}


/* Loader line connecting the content to the building */
.wrapper {
  position: relative;
  width: 300px;
  height: 2px;
  margin: 15px auto;
}

.loader {
  height: 100%;
  display: flex;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.loader div {
  flex: 1;
  -webkit-animation: go 0.8s infinite alternate ease;
  animation: go 0.8s infinite alternate ease;
}
.loader div:nth-child(1) {
  -webkit-animation-delay: -0.72s;
  animation-delay: -0.72s;
}
.loader div:nth-child(2) {
  -webkit-animation-delay: -0.64s;
  animation-delay: -0.64s;
}
.loader div:nth-child(3) {
  -webkit-animation-delay: -0.56s;
  animation-delay: -0.56s;
}
.loader div:nth-child(4) {
  -webkit-animation-delay: -0.48s;
  animation-delay: -0.48s;
}
.loader div:nth-child(5) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.loader div:nth-child(6) {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader div:nth-child(7) {
  -webkit-animation-delay: -0.24s;
  animation-delay: -0.24s;
}
.loader div:nth-child(8) {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader div:nth-child(9) {
  -webkit-animation-delay: -0.08s;
  animation-delay: -0.08s;
}
.loader div:nth-child(10) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

@-webkit-keyframes go {
  100% {
    background: transparent;
    flex: 10;
    box-shadow: 0 0 0 transparent;
  }
}

@keyframes go {
  100% {
    background: transparent;
    flex: 10;
    box-shadow: 0 0 0 transparent;
  }
}

.firstLoader{
  background: rgb(255,78,255);
}

.secondLoader{
  background: rgb(250,122,122);
}

.thirdLoader{
  background: rgb(122,250,180);
}

.fourthLoader{
  background: rgb(122,126,250);
}


/* Timeline styling */
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  margin-left: 48.25%;
  padding-top: 50px;
  background: black;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 48.25%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
}

.timeline ul li div::before {
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
}


@media (max-width: 1024px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}

.benefits{
  display: grid;
  grid-template-columns: 1fr 1px 1fr 1px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "benefitOne vertLine benefitTwo vertLine benefitThree";
}

.vertLine{
  grid-area: "vertLine";
  background-color: black;
}

.benefitContent{
  text-align: center;
  margin: 0 4px;
}

.benefitOne{
  grid-area: "benefitOne";

}

.benefitTwo{
  grid-area: "benefitTwo";
}

.benefitThree{
  grid-area: "benefitThree";
}

.fa-clock, .fa-map-pin, .fa-user-plus{
  font-size: 3.5em;
  margin-bottom: 10px;
}

.pricing{
  margin-bottom: 3%;
}
.priceContent{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  font-size: 1.5em;
}

.priceContent li{
  list-style: none;
  font-size: .75em;
}

.fa-check{
  color: #285AA0;
  margin-right: 1%;
}

i{
  font-size: .75em;
}
.blueAccent{
  color: #285AA0;
}

.btn{
  margin-top: 3%;
  border-radius: 50px;
}

.btn-outline-primary{
  color: #285AA0;
  border-color: #285AA0;
}

.btn-outline-primary:hover{
  background-color: #285AA0;
  border-color: #285AA0;
}

.footer{
  padding: 1%;
  margin-top: 3%;
  margin-bottom: 0;
  height: 150px;
  background-color: black;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "footerLeft dividerLine footerRight";
}
.footer h3{
  color: white;
}

.footer li{
  list-style: none;
}

.footer p, .footer a{
  color: white;
  font-size: 1.25em;
}

.footerLeft{
  grid-area: "footerLeft";
  text-align: right;
  padding-right: 3%;
}

.dividerLine{
  background-color: white;
}

.footerRight{
  grid-area: "footerRight";
  padding-left: 3%;
}
/* Bouncing arrow animation */
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

/* Image comparison slider */
.ba-slider {
  position: relative;
  overflow: hidden;
}

.ba-slider img {
  display:block;
  max-width:none;
}

.ba-slider .resize {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}


.ba-slider .handle { /* Thin line seperator */
  position:absolute;
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;

  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}

/* .ba-slider .handle:after {
position: absolute;
top: 50%;
width: 64px;
height: 64px;
margin: -32px 0 0 -32px;

content:'\2194';
color:white;
font-weight:bold;
font-size:36px;
text-align:center;
line-height:64px;

background: black;
border-radius: 50%;
transition:all 0.3s ease;
} */


.ba-slider .handle.ba-draggable:after {
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  line-height:50px;
  font-size:30px;
}

.video{
  margin-top: 15%;
  padding-top: 5%;
  padding-bottom: 3%;
}
video{
  width: 100%;
  height: auto;
}
